/*
  Color pallete from Color Hunt
  Source: https://colorhunt.co/palette/222831393e4600adb5eeeeee
*/
:root {
  --primary-bg-color: #222831;
  --secondary-bg-color: #393e46;
  --primary-color: #eee;
  --secondary-color: #00adb5;

  --success-color: #198754;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-color);
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 10em 5em;
}

.title {
  font-size: 3em;
}

.container {
  background-color: var(--secondary-bg-color);
  height: 100%;
  width: 100%;
  border-radius: 0.25em;
}

.pallete-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0.5em 0;
  margin: 0 1em;
  border-bottom: 1px solid var(--primary-bg-color);
}

.pallete-color {
  height: 2em;
  width: 2em;
  margin: 0.25em;
  border: 2px solid var(--primary-bg-color);
  border-radius: 50%;
  cursor: pointer;
}

.pallete-color:hover {
  box-shadow: 0 0 0 2px var(--secondary-color);
}

.selected {
  box-shadow: 0 0 0 2px var(--success-color);
}

.board {
  height: calc(100% - 3.5em);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto 0;
}

.board-row {
  display: table-row;
}

.board-cell {
  display: table-cell;
  background-color: white;
  height: 40px;
  width: 40px;
  border: 1px solid black;
  cursor: pointer;
}
